{# src/Projet2/PlatformBundle/Resources/views/Advert/connection_juge_arbitre.html.twig #}

{% extends "Projet2PlatformBundle::layout.html.twig" %}
{% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="/../Projet_Natation_synchronisee/Symfony/web/assets/vendor/bower_components/jquery-bar-rating/dist/themes/bars-pill.css">
    <link rel="stylesheet" href="{{ asset('css/layout.css') }}" >
{% endblock %}
{% block title %}
    Juge-arbitre
{% endblock %}

{% block body %}

    <h1>Bienvenue, {{juge_arbitre.id}}</h1><br>

    <a class="btn btn-primary btn-lg" href="../../nageuse">Liste des nageuses</a>
    <br><br>
    <input type="submit" class="btn btn-primary btn-lg" onclick="javascript:montre('information1');" value="Mes compétitions">
    <dd id="information1">
        <br>
        <tr>
            <input type="submit" class="btn btn-primary btn-lg" onclick="javascript:montre('information2');" value="Compétition 1">
            <input type="submit" class="btn btn-primary btn-lg" onclick="javascript:montre('information3');" value="Compétition 2">
        </tr>
    </dd>
    <dd id="information2">
        <br>
        <tr>
            <a href="../competitions/1/balletsarbitre/1">Ballet 1</a><br>
            <a href="../competitions/1/balletsarbitre/2">Ballet 2</a><br>
            <a href="../competitions/1/balletsarbitre/3">Ballet 3</a><br>
            <a href="../competitions/1/balletsarbitre/4">Ballet 4</a><br>
        </tr>
    </dd>

    <dd id="information3">
        <br>
        <tr>
            <a href="../competitions/2/balletsarbitre/1">Ballet 1</a><br>
            <a href="../competitions/2/balletsarbitre/2">Ballet 2</a><br>
            <a href="../competitions/2/balletsarbitre/3">Ballet 3</a><br>
            <a href="../competitions/2/balletsarbitre/4">Ballet 4</a><br>
        </tr>
    </dd>
    <br><br>

<script language="JavaScript">

    window.onload=montre();
    function montre(id)
    {
    var d = document.getElementById(id);
    for (var i = 1; i<=10; i++)
    {
    if (document.getElementById('information'+i)) {document.getElementById('information'+i).style.display='none';}
    }
    if (d) {d.style.display='block';}
    }

    </script>

{% endblock %}